@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Open+Sans:wght@400;600;700&family=Tinos&display=swap')
@import 'blocks/promo'
@import 'blocks/cards'
@import 'blocks/history'
    
*
    font-family: 'Tinos', sans-serif
    box-sizing: border-box
    padding: 0
    margin: 0

.container
    position: relative
    max-width: 1110px
    margin: 0 auto

.btn
    cursor: pointer
    width: 157px
    height: 47px
    background-color: #FF7400
    font-family: 'Open Sans'
    font-weight: 700
    font-size: 14px
    line-height: 19px
    color: #fff
    border: none
    text-transform: uppercase
    &_promo 
        margin-top: 21px
        margin-left: 223px